@import url("https://fonts.googleapis.com/css?family=Playball");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

$fontFamily: "Playball", cursive;
$quicksand: "Quicksand", sans-serif;

$playerColor: #363732;
$white: #ffffff;

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.playerContainer {
  display: flex;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 20px rgba(darken($playerColor,10%), 0.8);
  width: 40rem;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  margin: 2rem 1.2rem 0;
  background-color: $playerColor;

  /*albumArt*/
  .albumArt {
    position: relative;
    transform: translateY(-50%);
    height: 4rem;
    width: 4rem;
    background-color: $white;
    color: $playerColor;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all ease 0.5s;
    &.animate {
      animation: move 4s ease-in-out infinite;
    }
  }
  .info {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    font-size: 1.4rem;
    &:hover {
      .audioName {
        text-shadow: 0px 0px 2px $white;
        cursor: default;
      }
    }
    .audioName {
      flex-basis: 50%;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $white;
    }
    .timing {
      display: flex;
      margin-top: 0.5rem;
      justify-content: space-between;
      font-size: 0.8rem;
      font-family: $quicksand;
      color: $white;
    }
  }
  /*seekbar*/
  .seekBar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-top: 0.5rem;
    .outer {
      border-radius: 5px;
      border: 2px inset $playerColor;
      overflow: hidden;
      height: 0.5rem;
      flex-basis: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: darken($playerColor, 30%);
      .inner {
        background-color: $white;
        display: inline-block;
        height: 100%;
      }
      &:hover{
        cursor:pointer;
      }
    }
  }

  /*volumeControl*/
  .volumeControl {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    .wrapper {
      display: flex;
      flex-basis: 100%;
      align-items: center;
      color: darken($playerColor, 30%);
      &:hover {
        i.fa {
          color: darken($playerColor, 50%);
        }
      }
    }
    .outer {
      border-radius: 5px;
      border: 2px inset $playerColor;
      background-color: darken($playerColor, 30%);
      overflow: hidden;
      height: 0.5rem;
      flex-basis: 80%;
      margin-left: 0.4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .inner {
        background-color: $white;
        width: 100%;
        display: inline-block;
        height: 100%;
      }
      &:hover{
        cursor:pointer;
      }
    }
  }

  /*play pause btn*/
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 3rem;
    width: 3rem;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    top: -1.5rem;
    right: 0.5rem;
    border-radius: 500px;
    font-size: 1rem;
    outline: 0;
    background-color: $white;
    color: $playerColor;
    transition: all ease 0.5s;
    &.play {
      .fa-pause {
        display: none;
      }
    }
    &.pause {
      transform: rotate(180deg);
      .fa-play {
        display: none;
      }
    }
    &:hover{
      cursor:pointer;
    }
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-20%);
  }
}

.msg {
  position: absolute;
  top: 1rem;
  font-weight: 600;
  color: $playerColor;
  text-align:center;
  font-family:$quicksand;
}
@import url("https://fonts.googleapis.com/css?family=Playball");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
$fontFamily: "Playball", cursive;
$quicksand: "Quicksand", sans-serif;

$playerColor: #363732;
$white: #ffffff;
body {
  background-color: lighten($playerColor, 48%);
  font-family: $fontFamily;
}
.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.playerContainer {
  display: flex;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 20px rgba(darken($playerColor,10%), 0.8);
  width: 40rem;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  margin: 2rem 1.2rem 0;
  background-color: $playerColor;

  /*albumArt*/
  .albumArt {
    position: relative;
    transform: translateY(-50%);
    height: 4rem;
    width: 4rem;
    background-color: $white;
    color: $playerColor;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    transition: all ease 0.5s;
    &.animate {
      animation: move 4s ease-in-out infinite;
    }
  }
  .info {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    font-size: 1.4rem;
    &:hover {
      .audioName {
        text-shadow: 0px 0px 2px $white;
        cursor: default;
      }
    }
    .audioName {
      flex-basis: 50%;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $white;
    }
    .timing {
      display: flex;
      margin-top: 0.5rem;
      justify-content: space-between;
      font-size: 0.8rem;
      font-family: $quicksand;
      color: $white;
    }
  }
  /*seekbar*/
  .seekBar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-top: 0.5rem;
    .outer {
      border-radius: 5px;
      border: 2px inset $playerColor;
      overflow: hidden;
      height: 0.5rem;
      flex-basis: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: darken($playerColor, 30%);
      .inner {
        background-color: $white;
        display: inline-block;
        height: 100%;
      }
      &:hover{
        cursor:pointer;
      }
    }
  }

  /*volumeControl*/
  .volumeControl {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    .wrapper {
      display: flex;
      flex-basis: 100%;
      align-items: center;
      color: darken($playerColor, 30%);
      &:hover {
        i.fa {
          color: darken($playerColor, 50%);
        }
      }
    }
    .outer {
      border-radius: 5px;
      border: 2px inset $playerColor;
      background-color: darken($playerColor, 30%);
      overflow: hidden;
      height: 0.5rem;
      flex-basis: 80%;
      margin-left: 0.4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .inner {
        background-color: $white;
        width: 100%;
        display: inline-block;
        height: 100%;
      }
      &:hover{
        cursor:pointer;
      }
    }
  }

  /*play pause btn*/
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 3rem;
    width: 3rem;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    top: -1.5rem;
    right: 0.5rem;
    border-radius: 500px;
    font-size: 1rem;
    outline: 0;
    background-color: $white;
    color: $playerColor;
    transition: all ease 0.5s;
    &.play {
      .fa-pause {
        display: none;
      }
    }
    &.pause {
      transform: rotate(180deg);
      .fa-play {
        display: none;
      }
    }
    &:hover{
      cursor:pointer;
    }
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-20%);
  }
}

.msg {
  position: absolute;
  top: 1rem;
  font-weight: 600;
  color: $playerColor;
  text-align:center;
  font-family:$quicksand;
}
