

<li class="layer" data-depth="0.50">
    <div class="depth-2 flake1">
    </div>

    <div class="depth-2 flake2">
    </div>
</li>

<li class="layer" data-depth="0.60">
    <div class="depth-3 flake1">
    </div>

    <div class="depth-3 flake2">
    </div>

    <div class="depth-3 flake3">
    </div>

    <div class="depth-3 flake4">
    </div>
</li>

<li class="layer" data-depth="0.80">
    <div class="depth-4">
        <img alt="flake" src="{{ site.url }}/assets/images/flakes/depth4/flakes.png">
    </div>
</li>

<li class="layer" data-depth="1.00">
    <div class="depth-5">
        <img alt="flake" src="{{ site.url }}/assets/images/flakes/depth5/flakes.png">
    </div>
</li>
<!-- Contact -->
