       <li class="layer" data-depth="0.20">
           
        <div class="download">
            <a href="https://wordpress.org/plugins/station-pro/" target="_blank" class="button">Download old vesion</a>

        </div>
        
    <div class="contact">
     

                    <p>
             
                        {{ site.copyright }} Support by <a href="mailto:marviorocha@marviorocha.com" target="_blank">v{{ site.version }}
                        </a>
                    </p>
                     
                </div>
            </li>
        </ul>
    </div>

       
       
       <!-- Javascript -->
        <script src="{{ site.url }}/assets/js/plugins.js"></script> 
        <script src="{{ site.url }}/assets/js/jquery.countdown.min.js"></script> 
        <script src="{{ site.url }}/assets/js/main.js"></script>