<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>BackEnd  - Station PRO</title>

<!--Css Style here-->

<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/text.css" />
<link rel="stylesheet" href="css/960.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/menu.css" />
<!--Meta tags here -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Especializado em Hospedagem Web e Servidores com uptime de 99,9 % otimizados para loja virtual" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />

<!-- Jquey here -->
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.easyui.min.js"></script>
 <script>
     $('#aa').accordion({  
        animate:false  
    });  
 </script>

</head>
<body>
<div id="head"> <!-- DIV top Head -->
  <div class="container_12">
    <div class="grid_9"><img class="clearfix"  src="img/logo.gif" alt="" /></div>
    <div class="grid_3 sign">Hello,<strong>Fullando</strong> | <a href="">Log out
</a></div>
  </div>
</div>
<!-- FINAL DIV top Head -->

<div id="nav" class="container_12">
  <ul id="menu">
  <li><a href="">Dashboard</a></li>
	<li>
		<a href="#">Categories</a>
		<ul>
			<li>
				<a href="#">CSS</a>
				<ul>
					<li><a href="#">Item 11</a></li>
					<li><a href="#">Item 12</a></li>
					<li><a href="#">Item 13</a></li>
					<li><a href="#">Item 14</a></li>
				</ul>				
			</li>
			<li>
				<a href="#">Graphic design</a>
				<ul>
					<li><a href="#">Item 21</a></li>
					<li><a href="#">Item 22</a></li>
					<li><a href="#">Item 23</a></li>
					<li><a href="#">Item 24</a></li>
				</ul>				
			</li>
			<li>
				<a href="#">Development tools</a>
				<ul>
					<li><a href="#">Item 31</a></li>
					<li><a href="#">Item 32</a></li>
					<li><a href="#">Item 33</a></li>
					<li><a href="#">Item 34</a></li>
				</ul>				
			</li>
			<li>
				<a href="#">Web design</a>				
				<ul>
					<li><a href="#">Item 41</a></li>
					<li><a href="#">Item 42</a></li>
					<li><a href="#">Item 43</a></li>
					<li><a href="#">Item 44</a></li>
				</ul>	
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Work</a>
		<ul>
			<li>
				<a href="#">Work 1</a>
				<ul>
					<li>
						<a href="#">Work 11</a>		
						<ul>
							<li>
								<a href="#">Work 111</a>						
							</li>
							<li>
								<a href="#">Work 112</a>
							</li>
							<li>
								<a href="#">Work 113</a>
							</li>
						</ul>							
					</li>
					<li>
						<a href="#">Work 12</a>
						<ul>
							<li>
								<a href="#">Work 121</a>						
							</li>
							<li>
								<a href="#">Work 122</a>
							</li>
							<li>
								<a href="#">Work 123</a>
							</li>
						</ul>							
					</li>
					<li>
						<a href="#">Work 13</a>
						<ul>
							<li>
								<a href="#">Work 131</a>						
							</li>
							<li>
								<a href="#">Work 132</a>
							</li>
							<li>
								<a href="#">Work 133</a>
							</li>
						</ul>							
					</li>
				</ul>					
			</li>
			<li>
				<a href="#">Work 2</a>
				<ul>
					<li>
						<a href="#">Work 21</a>
						<ul>
							<li>
								<a href="#">Work 211</a>						
							</li>
							<li>
								<a href="#">Work 212</a>
							</li>
							<li>
								<a href="#">Work 213</a>
							</li>
						</ul>							
					</li>
					<li>
						<a href="#">Work 22</a>
						<ul>
							<li>
								<a href="#">Work 221</a>						
							</li>
							<li>
								<a href="#">Work 222</a>
							</li>
							<li>
								<a href="#">Work 223</a>
							</li>
						</ul>							
					</li>
					<li>
						<a href="#">Work 23</a>
						<ul>
							<li>
								<a href="#">Work 231</a>						
							</li>
							<li>
								<a href="#">Work 232</a>
							</li>
							<li>
								<a href="#">Work 233</a>
							</li>
						</ul>							
					</li>
				</ul>					
			</li>
			<li>
				<a href="#">Work 3</a>
				<ul>
					<li>
						<a href="#">Work 31</a>
						<ul>
							<li>
								<a href="#">Work 311</a>						
							</li>
							<li>
								<a href="#">Work 312</a>
							</li>
							<li>
								<a href="#">Work 313</a>
							</li>
						</ul>							
					</li>
					<li>
						<a href="#">Work 32</a>
						<ul>
							<li>
								<a href="#">Work 321</a>						
							</li>
							<li>
								<a href="#">Work 322</a>
							</li>
							<li>
								<a href="#">Work 323</a>
							</li>
						</ul>							
					</li>
					<li>
						<a href="#">Work 33</a>
						<ul>
							<li>
								<a href="#">Work 331</a>						
							</li>
							<li>
								<a href="#">Work 332</a>
							</li>
							<li>
								<a href="#">Work 333</a>
							</li>
						</ul>							
					</li>
				</ul>					
			</li>
		</ul>		
	</li>
	<li>
		<a href="#">About</a>	
	</li>
	<li>
		<a href="#">Contact</a>	
	</li>
  </ul>
</div>
<div id="content" class="container_12"> <!-- DIV  Content --> 


<div id="left" class="grid_7 alpha"><!--div id content left -->
  
  
<h1>Last update Station PRO </h1>
 
 <div class="last-update-stationpro">
 <ul>
 <li>
 <img align="left" src="img/icon/event32.png" width="32" height="32" alt="Last Update">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique sapien magna, sit amet feugiat ante. Duis mattis purus at erat dapibus convallis. Ut sed diam in metus gravida vulputate. Praesent accumsan mi vel tortor imperdiet pellentesque. Nunc et sodales arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridic
 <p></p>
<a class="button blue medium">Click me!</a> <a class="button red medium">Click me!</a>
</li>

</div>
<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tristique sapien magna, sit amet feugiat ante. Duis mattis purus at erat dapibus convallis. Ut sed diam in metus gravida vulputate. Praesent accumsan mi vel tortor imperdiet pellentesque. Nunc et sodales arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridic<p></p>
 </div>
 <div id="right" class="grid_5"><!--div id content right -->
  <h1>Lorem ipsum dolor sit amet,  </h1>
      <br>
       <div id="aa" class="easyui-accordion" style="width:380px;height:200px;">  
        <div title="Title1" style="overflow:auto;padding:10px;">  
            <h3 style="color:#0099FF;">Accordion for jQuery</h3>  
            <p>Accordion is a part of easyui framework for jQuery.   
            It lets you define your accordion component on web page more easily.</p>  
        </div>  
        <div title="Title2" iconCls="icon-reload" selected="true" style="padding:10px;">  
            content2  
        </div>  
        <div title="Title3">  
            content3  
        </div>  
    </div>  
    <p></p>
</div>


</div>
<!-- DIV  Final Content -->

<div id="footer" class="container_12">
  <p></p>
  <center>
    <p class="sign"><a href="http://www.stationpro.net">Station PRO</a> nec mauris. Nam in sapien eu metus consequat venena</p>
  </center>
</div>
</body>
</html>