<!DOCTYPE html>
<html lang="en">
<head>

<title>{title} -  {user_title}</title>
  <bloc:Head>{head}</bloc:Head>
 
</head>
<body>
<div id="head"> <!-- DIV top Head -->
  <div class="container_12">
    <div class="grid_9"><img class="clearfix"  src="{admin_url}img/logo.gif" alt="" /></div>
    <div class="grid_3 sign">Hello,<strong>Fullando</strong> | <a href="">Log out </a></div>
  </div>
</div>
<!-- FINAL DIV top Head -->

<div id="nav" class="container_12">
  <bloc:Menu>{menu}</bloc:Menu>
</div>
<div id="content" class="container_12"> <!-- DIV  Content -->
  
  <div id="left" class="grid_12"><!--div id content left -->
    
    <h1>{user_title}</h1>
    <p></p>
    <div style="display:none"  class="formee-msg-error" id="formee-msg-warning"> {error}</div>
    <div style="display:none" id="form_message"> {success}</div>
    <p>
    
    <div    class="formee-msg-alert" id="postada"></div>
    </p>
    <form  id="setting" class="formee" action="javascript:void();" method="post">
      <div class="easyui-tabs" style="width:900px;">
        <div title="{tabs1}" style="padding:20px;">
      
      {carbo}
      
      
        </div>
        <div title="{tabs2}" style="padding:20px;" >
          <!--<fieldset class="grid-8-12">
            <div class="grid-11-12">
              <label for="">{name}</label>
              <input class="validate[required]" id="name" name="name" value=""  type="text">
            </div>
            <div class="grid-11-12">
              <label for="">{email}</label>
              <input class="validate[required][custom[email]]"  id="email" value="" name="email" type="text">
            </div>
            <div class="grid-11-12">
              <label for="">{passworld}</label>
              <input class="validate[required]" id="passworld"  value=""   name="passworld" type="password">
            </div>
            <div class="grid-11-12">
              <label for="">{bio}</label>
              <textarea rows="3" name="bio"  id="bio" />
              </textarea>
            </div>
            <div class="grid-11-12">
              <label for="">{type}</label>
              <select name="type" id="type">
                <option value="Admin" >Admin</option>
                <option value="Dj" >Dj</option>
                <option value="Edit" >Edit</option>
                <option value="Artist" >Artist</option>
              </select>
            </div>
            <div class="grid-11-12">
              <input class="formee-button right" id="login_submit"  type="submit" value="{button_salve}" />
            </div>
          </fieldset>-->
        </div>
      </div>
      <!-- formee-->
      
    </form>
    <p></p>
  </div>
</div>
<!-- DIV  Final Content -->

<div id="footer" class="container_12">
  <p></p>
  <center>
    
    <!--CONTACT SUPPORT FOR REMOOVE COPYRIGHT LINK! PLEASE DON'T REMOVE IT LICENCE GNU AND MIT ALL RESERVED STATION PRO 2012! -->
    <p class="sign">{powered}</p>
    <!--CONTACT SUPPORT FOR REMOOVE COPYRIGHT LINK! PLEASE DON'T REMOVE IT LICENCE GNU AND MIT ALL RESERVED STATION PRO 2012! -->
  </center>
</div>
</body>
</html>