<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
    <!DOCTYPE html>
    <html lang="en-US">
        <!--<![endif]-->
    
        <head>
            <meta charset="utf-8">
            <title>
               {{ page.title }}
            </title><!-- Behavioral Meta Data -->
            <meta content="yes" name="apple-mobile-web-app-capable">
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"><!-- Core Meta Data -->
            <meta content="ThemeWagon" name="author">
            <meta content="Download de free plugin for wordpress Radio Station, streming shoutcast" name="description">
            <meta content="ThemeWagon">
            <meta content="ThemeWagon">
            <meta content="website">
            <meta content="index.html"><!-- Twitter Card Meta Data -->
            <meta content="summary" name="twitter:card">
            <meta content="@marviorocha" name="twitter:site">
            <meta content="@marviorocha" name="twitter:creator">
            <meta content="ThemeWagon" name="twitter:title">
            <meta content="Imminent - The most spectacular coming soon template!" name="twitter:description">
    
            <link href="{{ site.url }}/assets/favicon.png" rel="shortcut icon" type="image/png">
    
            <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            
            <!-- CSS -->
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'><!-- Styles -->
            <link href="{{ site.url }}/assets/css/loader.css" rel="stylesheet" type="text/css">
            <link href="{{ site.url }}/assets/css/normalize.css" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.min.css">
            <link href="{{ site.url }}/assets/css/style.css" rel="stylesheet" type="text/css">
            <!--[if lt IE 9]>
                <link rel="stylesheet" type="text/css" href="css/ie.css" />
            <![endif]-->
            <!-- Javascript -->
    
            <script src="{{ site.url }}/assets/js/jquery.js"></script>
        </head>
        <body>
           
 {%- include header.html -%}

 
 {%- include content.html -%}
 
 
 {{ content }}

{%- include footer.html -%}
</body>

</html>